<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>buyinfo_000000</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{607,843}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{605,841}</string>
      </dict>
      <key>buyinfo_000001</key>
      <dict>
        <key>frame</key>
        <string>{{332,925},{86,91}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{84,89}</string>
      </dict>
      <key>buyinfo_000002</key>
      <dict>
        <key>frame</key>
        <string>{{200,925},{132,69}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{130,67}</string>
      </dict>
      <key>buyinfo_000003</key>
      <dict>
        <key>frame</key>
        <string>{{458,843},{80,80}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,78}</string>
      </dict>
      <key>buyinfo_000004</key>
      <dict>
        <key>frame</key>
        <string>{{62,1012},{30,27}}</string>
        <key>offset</key>
        <string>{-0.50,-4.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000005</key>
      <dict>
        <key>frame</key>
        <string>{{270,994},{29,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000006</key>
      <dict>
        <key>frame</key>
        <string>{{500,923},{28,36}}</string>
        <key>offset</key>
        <string>{1.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000007</key>
      <dict>
        <key>frame</key>
        <string>{{299,994},{29,36}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000008</key>
      <dict>
        <key>frame</key>
        <string>{{153,994},{30,37}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000009</key>
      <dict>
        <key>frame</key>
        <string>{{93,976},{30,36}}</string>
        <key>offset</key>
        <string>{0.50,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000010</key>
      <dict>
        <key>frame</key>
        <string>{{212,994},{29,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000011</key>
      <dict>
        <key>frame</key>
        <string>{{183,994},{29,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000012</key>
      <dict>
        <key>frame</key>
        <string>{{500,959},{27,36}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000013</key>
      <dict>
        <key>frame</key>
        <string>{{123,994},{30,37}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000014</key>
      <dict>
        <key>frame</key>
        <string>{{241,994},{29,37}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000015</key>
      <dict>
        <key>frame</key>
        <string>{{62,976},{31,36}}</string>
        <key>offset</key>
        <string>{0.00,0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000016</key>
      <dict>
        <key>frame</key>
        <string>{{0,1030},{12,12}}</string>
        <key>offset</key>
        <string>{-7.50,-11.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{29,35}</string>
      </dict>
      <key>buyinfo_000017</key>
      <dict>
        <key>frame</key>
        <string>{{0,843},{458,82}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{456,80}</string>
      </dict>
      <key>buyinfo_000018</key>
      <dict>
        <key>frame</key>
        <string>{{0,976},{62,54}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{60,52}</string>
      </dict>
      <key>buyinfo_000019</key>
      <dict>
        <key>frame</key>
        <string>{{418,925},{82,86}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{80,84}</string>
      </dict>
      <key>buyinfo_000020</key>
      <dict>
        <key>frame</key>
        <string>{{0,925},{200,51}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{198,49}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>1.5</real>
      <key>fps</key>
      <integer>24</integer>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>buyinfo.png</string>
      <key>size</key>
      <string>{708,1044}</string>
      <key>textureFileName</key>
      <string>buyinfo.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>bg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.001652892561983471</real>
        <key>anchorY</key>
        <real>-0.0035671819262782403</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>addbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.05952380952380952</real>
        <key>anchorY</key>
        <real>0.9438202247191011</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>buy</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.49192307692307696</real>
        <key>anchorY</key>
        <real>0.5044776119402985</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>closebt</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.4993589743589744</real>
        <key>anchorY</key>
        <real>0.4993589743589744</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>3</integer>
      </dict>
      <key>img001</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.0037499999999999643</real>
        <key>start</key>
        <integer>17</integer>
        <key>end</key>
        <integer>17</integer>
      </dict>
      <key>img002</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.19749999999999998</real>
        <key>anchorY</key>
        <real>-0.28173076923076934</real>
        <key>start</key>
        <integer>18</integer>
        <key>end</key>
        <integer>18</integer>
      </dict>
      <key>img003</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>-0.047619047619047616</real>
        <key>start</key>
        <integer>19</integer>
        <key>end</key>
        <integer>19</integer>
      </dict>
      <key>img007</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.001020408163265248</real>
        <key>start</key>
        <integer>20</integer>
        <key>end</key>
        <integer>20</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>bottommc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,571.55,65.70</string>
        <key>anchorX</key>
        <real>-0.05887498906482372</real>
        <key>anchorY</key>
        <real>-0.3295281582952817</real>
        <key>children</key>
        <dict>
          <key>instance1145</key>
          <dict>
            <key>class</key>
            <string>img002</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>-10.65,-7.55,0.00,1,1,1.00,6</string>
          </dict>
          <key>gold</key>
          <dict>
            <key>class</key>
            <string>numtxt</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>364.45,63.55,0.00,1,1,1.00,2</string>
            <key>text</key>
            <string>200</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Franklin Gothic Heavy</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>113</real>
            <key>height</key>
            <real>49</real>
          </dict>
          <key>strength</key>
          <dict>
            <key>class</key>
            <string>numtxt</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>63.05,65.70,0.00,1,1,1.00,5</string>
            <key>text</key>
            <string>10</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Franklin Gothic Heavy</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>119</real>
            <key>height</key>
            <real>49</real>
          </dict>
          <key>instance1133</key>
          <dict>
            <key>class</key>
            <string>img007</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,10.65,0.00,1,1,1.00,0</string>
          </dict>
          <key>instance1148</key>
          <dict>
            <key>class</key>
            <string>img003</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>301.60,-0.00,0.00,0.7224884033203125,0.7224884033203125,1.00,7</string>
          </dict>
          <key>addstrength</key>
          <dict>
            <key>class</key>
            <string>addbtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>218.80,59.70,0.00,0.6747283935546875,0.6747283935546875,1.00,4</string>
          </dict>
          <key>instance1135</key>
          <dict>
            <key>class</key>
            <string>img007</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>301.95,8.65,0.00,1,1,1.00,1</string>
          </dict>
          <key>goldaddbtn</key>
          <dict>
            <key>class</key>
            <string>addbtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>518.20,60.00,0.00,0.6747283935546875,0.6747283935546875,1.00,3</string>
          </dict>
        </dict>
      </dict>
      <key>goldInfo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,456.00,88.00</string>
        <key>anchorX</key>
        <real>-0.0031798245614035087</real>
        <key>anchorY</key>
        <real>0.5426136363636364</real>
        <key>children</key>
        <dict>
          <key>itemmoney</key>
          <dict>
            <key>class</key>
            <string>numtxt</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>317.25,79.85,0.00,1,1,1.00,3</string>
            <key>text</key>
            <string>10</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Franklin Gothic Heavy</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>110</real>
            <key>height</key>
            <real>49</real>
          </dict>
          <key>instance1177</key>
          <dict>
            <key>class</key>
            <string>img003</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>35.85,0.00,0.00,1,1,1.00,4</string>
          </dict>
          <key>instance1174</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,6.35,0.00,1,1,1.00,0</string>
          </dict>
          <key>btnbuy</key>
          <dict>
            <key>class</key>
            <string>buy</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>369.20,48.40,0.00,1,1,1.00,2</string>
          </dict>
          <key>itemcount</key>
          <dict>
            <key>class</key>
            <string>numtxt</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>132.40,77.55,0.00,1,1,1.00,1</string>
            <key>text</key>
            <string>x20</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Franklin Gothic Heavy</string>
            <key>size</key>
            <integer>50</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>168</real>
            <key>height</key>
            <real>61</real>
          </dict>
        </dict>
      </dict>
      <key>goldmc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,610.00,845.00</string>
        <key>anchorX</key>
        <real>-0.029672131147540987</real>
        <key>anchorY</key>
        <real>-0.1150887573964497</real>
        <key>children</key>
        <dict>
          <key>buy3</key>
          <dict>
            <key>class</key>
            <string>goldInfo</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>72.35,328.85,0.00,1,1,1.00,4</string>
          </dict>
          <key>buy1</key>
          <dict>
            <key>class</key>
            <string>goldInfo</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>71.75,549.30,0.00,1,1,1.00,2</string>
          </dict>
          <key>buy2</key>
          <dict>
            <key>class</key>
            <string>goldInfo</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>72.35,441.40,0.00,1,1,1.00,3</string>
          </dict>
          <key>buy5</key>
          <dict>
            <key>class</key>
            <string>goldInfo</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>73.60,112.60,0.00,1,1,1.00,5</string>
          </dict>
          <key>buy4</key>
          <dict>
            <key>class</key>
            <string>goldInfo</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>73.90,216.00,0.00,1,1,1.00,1</string>
          </dict>
          <key>closebtn</key>
          <dict>
            <key>class</key>
            <string>closebt</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>566.35,643.05,0.00,1,1,1.00,6</string>
          </dict>
          <key>instance1203</key>
          <dict>
            <key>class</key>
            <string>bg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,0.00,0.00,1,1,1.00,0</string>
          </dict>
        </dict>
      </dict>
      <key>itemstrengthInfo</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,456.00,79.70</string>
        <key>anchorX</key>
        <real>0.007675438596491228</real>
        <key>anchorY</key>
        <real>0.48682559598494346</real>
        <key>children</key>
        <dict>
          <key>itemmoney</key>
          <dict>
            <key>class</key>
            <string>numtxt</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>315.25,73.50,0.00,1,1,1.00,4</string>
            <key>text</key>
            <string>10</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Franklin Gothic Heavy</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>111</real>
            <key>height</key>
            <real>49</real>
          </dict>
          <key>instance1257</key>
          <dict>
            <key>class</key>
            <string>img002</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>23.00,-8.35,0.00,1.1999969482421875,1.1999969482421875,1.00,1</string>
          </dict>
          <key>instance1255</key>
          <dict>
            <key>class</key>
            <string>img001</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,-0.00,0.00,1,1,1.00,0</string>
          </dict>
          <key>btnbuy</key>
          <dict>
            <key>class</key>
            <string>buy</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>369.20,42.05,0.00,1,1,1.00,3</string>
          </dict>
          <key>itemcount</key>
          <dict>
            <key>class</key>
            <string>numtxt</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>128.45,71.20,0.00,1,1,1.00,2</string>
            <key>text</key>
            <string>x20</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Franklin Gothic Heavy</string>
            <key>size</key>
            <integer>50</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>167</real>
            <key>height</key>
            <real>61</real>
          </dict>
        </dict>
      </dict>
      <key>strengthmc</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,610.00,845.00</string>
        <key>anchorX</key>
        <real>-0.024672131147540986</real>
        <key>anchorY</key>
        <real>-0.10786982248520707</real>
        <key>children</key>
        <dict>
          <key>buy3</key>
          <dict>
            <key>class</key>
            <string>itemstrengthInfo</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>81.70,336.00,0.00,1,1,1.00,3</string>
          </dict>
          <key>buy1</key>
          <dict>
            <key>class</key>
            <string>itemstrengthInfo</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>79.30,549.85,0.00,1,1,1.00,1</string>
          </dict>
          <key>buy2</key>
          <dict>
            <key>class</key>
            <string>itemstrengthInfo</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>78.00,444.75,0.00,1,1,1.00,2</string>
          </dict>
          <key>buy5</key>
          <dict>
            <key>class</key>
            <string>itemstrengthInfo</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>88.90,124.35,0.00,1,1,1.00,6</string>
          </dict>
          <key>buy4</key>
          <dict>
            <key>class</key>
            <string>itemstrengthInfo</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>85.25,230.95,0.00,1,1,1.00,4</string>
          </dict>
          <key>closebtn</key>
          <dict>
            <key>class</key>
            <string>closebt</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>555.90,632.15,0.00,1,1,1.00,5</string>
          </dict>
          <key>instance1285</key>
          <dict>
            <key>class</key>
            <string>bg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,0.00,0.00,1,1,1.00,0</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>numtxt</key>
      <dict>
        <key>start</key>
        <integer>4</integer>
        <key>end</key>
        <integer>16</integer>
        <key>size</key>
        <integer>50</integer>
        <key>chars</key>
        <string>x0123456789¥.</string>
        <key>anchorX</key>
        <real>-0.10344827586206896</real>
        <key>anchorY</key>
        <real>1.4</real>
      </dict>
    </dict>
  </dict>
</plist>