<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>gameshop_000000</key>
      <dict>
        <key>frame</key>
        <string>{{477,1270},{90,87}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,85}</string>
      </dict>
      <key>gameshop_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,1024},{175,186}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{173,184}</string>
      </dict>
      <key>gameshop_000002</key>
      <dict>
        <key>frame</key>
        <string>{{175,1024},{175,187}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{173,185}</string>
      </dict>
      <key>gameshop_000003</key>
      <dict>
        <key>frame</key>
        <string>{{159,1211},{159,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000004</key>
      <dict>
        <key>frame</key>
        <string>{{811,541},{154,136}}</string>
        <key>offset</key>
        <string>{0.25,-0.05}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000005</key>
      <dict>
        <key>frame</key>
        <string>{{318,1211},{159,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000006</key>
      <dict>
        <key>frame</key>
        <string>{{811,677},{154,136}}</string>
        <key>offset</key>
        <string>{-1.55,1.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000007</key>
      <dict>
        <key>frame</key>
        <string>{{477,1129},{159,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000008</key>
      <dict>
        <key>frame</key>
        <string>{{793,1103},{154,136}}</string>
        <key>offset</key>
        <string>{-1.55,1.95}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000009</key>
      <dict>
        <key>frame</key>
        <string>{{350,962},{164,167}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{162,165}</string>
      </dict>
      <key>gameshop_000010</key>
      <dict>
        <key>frame</key>
        <string>{{811,813},{147,150}}</string>
        <key>offset</key>
        <string>{0.05,-0.10}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{162,165}</string>
      </dict>
      <key>gameshop_000011</key>
      <dict>
        <key>frame</key>
        <string>{{350,1129},{80,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,60}</string>
      </dict>
      <key>gameshop_000012</key>
      <dict>
        <key>frame</key>
        <string>{{0,1210},{159,141}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000013</key>
      <dict>
        <key>frame</key>
        <string>{{811,405},{154,136}}</string>
        <key>offset</key>
        <string>{-1.55,1.60}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{157,139}</string>
      </dict>
      <key>gameshop_000014</key>
      <dict>
        <key>frame</key>
        <string>{{216,1000},{16,20}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000015</key>
      <dict>
        <key>frame</key>
        <string>{{308,1001},{15,20}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000016</key>
      <dict>
        <key>frame</key>
        <string>{{293,1001},{15,20}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000017</key>
      <dict>
        <key>frame</key>
        <string>{{350,1191},{14,20}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000018</key>
      <dict>
        <key>frame</key>
        <string>{{232,1000},{16,20}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000019</key>
      <dict>
        <key>frame</key>
        <string>{{323,994},{14,20}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000020</key>
      <dict>
        <key>frame</key>
        <string>{{248,1000},{15,20}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000021</key>
      <dict>
        <key>frame</key>
        <string>{{263,1000},{15,20}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000022</key>
      <dict>
        <key>frame</key>
        <string>{{278,1001},{15,20}}</string>
        <key>offset</key>
        <string>{0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000023</key>
      <dict>
        <key>frame</key>
        <string>{{200,1000},{16,20}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{14,18}</string>
      </dict>
      <key>gameshop_000024</key>
      <dict>
        <key>frame</key>
        <string>{{514,962},{22,32}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000025</key>
      <dict>
        <key>frame</key>
        <string>{{535,1057},{17,31}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000026</key>
      <dict>
        <key>frame</key>
        <string>{{514,1089},{21,32}}</string>
        <key>offset</key>
        <string>{-1.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000027</key>
      <dict>
        <key>frame</key>
        <string>{{514,994},{22,32}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000028</key>
      <dict>
        <key>frame</key>
        <string>{{317,962},{23,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000029</key>
      <dict>
        <key>frame</key>
        <string>{{514,1026},{21,31}}</string>
        <key>offset</key>
        <string>{0.00,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000030</key>
      <dict>
        <key>frame</key>
        <string>{{514,1057},{21,32}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000031</key>
      <dict>
        <key>frame</key>
        <string>{{535,1026},{20,31}}</string>
        <key>offset</key>
        <string>{-0.50,-0.50}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000032</key>
      <dict>
        <key>frame</key>
        <string>{{430,1168},{22,32}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000033</key>
      <dict>
        <key>frame</key>
        <string>{{452,1168},{22,32}}</string>
        <key>offset</key>
        <string>{-0.50,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{21,30}</string>
      </dict>
      <key>gameshop_000034</key>
      <dict>
        <key>frame</key>
        <string>{{0,962},{200,62}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{198,60}</string>
      </dict>
      <key>gameshop_000035</key>
      <dict>
        <key>frame</key>
        <string>{{280,962},{37,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>gameshop_000036</key>
      <dict>
        <key>frame</key>
        <string>{{642,405},{169,698}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{167,696}</string>
      </dict>
      <key>gameshop_000037</key>
      <dict>
        <key>frame</key>
        <string>{{811,963},{130,130}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>gameshop_000038</key>
      <dict>
        <key>frame</key>
        <string>{{636,1103},{157,190}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{155,188}</string>
      </dict>
      <key>gameshop_000039</key>
      <dict>
        <key>frame</key>
        <string>{{430,1129},{37,39}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{35,37}</string>
      </dict>
      <key>gameshop_000040</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{642,962}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{640,960}</string>
      </dict>
      <key>gameshop_000041</key>
      <dict>
        <key>frame</key>
        <string>{{642,0},{384,405}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{382,403}</string>
      </dict>
      <key>gameshop_000042</key>
      <dict>
        <key>frame</key>
        <string>{{200,962},{80,38}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{78,36}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>1.45</real>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>gameshop.png</string>
      <key>size</key>
      <string>{1040,1360}</string>
      <key>textureFileName</key>
      <string>gameshop.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>asdf2421312313ffq</key>
      <dict>
        <key>type</key>
        <string>asdf2421312313ffq</string>
        <key>anchorX</key>
        <real>0.1380681818181818</real>
        <key>anchorY</key>
        <real>0.8676470588235294</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>asdfaserf2q34r123asf132123</key>
      <dict>
        <key>type</key>
        <string>asdfaserf2q34r123asf132123</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>1</integer>
      </dict>
      <key>asdfaw3r4214123aaa313111</key>
      <dict>
        <key>type</key>
        <string>asdfaw3r4214123aaa313111</string>
        <key>anchorX</key>
        <real>0.430635838150289</real>
        <key>anchorY</key>
        <real>0.5883783783783784</real>
        <key>start</key>
        <integer>2</integer>
        <key>end</key>
        <integer>2</integer>
      </dict>
      <key>Potionbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.489171974522293</real>
        <key>anchorY</key>
        <real>0.5201438848920863</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>4</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>Timebtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.48949044585987256</real>
        <key>anchorY</key>
        <real>0.5197841726618705</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>6</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>bombbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.489171974522293</real>
        <key>anchorY</key>
        <real>0.5201438848920863</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>8</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>playgamebtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>-0.019135802469135803</real>
        <key>anchorY</key>
        <real>0.746060606060606</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>10</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>showshop</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>1.0057692307692307</real>
        <key>anchorY</key>
        <real>0.5041666666666667</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>stepbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.489171974522293</real>
        <key>anchorY</key>
        <real>0.5251798561151079</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>13</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>glodicon</key>
      <dict>
        <key>type</key>
        <string>glodicon</string>
        <key>anchorX</key>
        <real>0.15075757575757576</real>
        <key>anchorY</key>
        <real>0.5008333333333334</real>
        <key>start</key>
        <integer>34</integer>
        <key>end</key>
        <integer>34</integer>
      </dict>
      <key>iconbg</key>
      <dict>
        <key>type</key>
        <string>iconbg</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.010810810810810773</real>
        <key>start</key>
        <integer>35</integer>
        <key>end</key>
        <integer>35</integer>
      </dict>
      <key>leftbg</key>
      <dict>
        <key>type</key>
        <string>leftbg</string>
        <key>anchorX</key>
        <real>1.0616766467065868</real>
        <key>anchorY</key>
        <real>0.5405890804597702</real>
        <key>start</key>
        <integer>36</integer>
        <key>end</key>
        <integer>36</integer>
      </dict>
      <key>nocount</key>
      <dict>
        <key>type</key>
        <string>nocount</string>
        <key>anchorX</key>
        <real>0.5125</real>
        <key>anchorY</key>
        <real>0.4859375</real>
        <key>start</key>
        <integer>37</integer>
        <key>end</key>
        <integer>37</integer>
      </dict>
      <key>nomoney</key>
      <dict>
        <key>type</key>
        <string>nomoney</string>
        <key>anchorX</key>
        <real>0.5058064516129033</real>
        <key>anchorY</key>
        <real>0.4890957446808511</real>
        <key>start</key>
        <integer>38</integer>
        <key>end</key>
        <integer>38</integer>
      </dict>
      <key>shape 401</key>
      <dict>
        <key>type</key>
        <string>shape 401</string>
        <key>anchorX</key>
        <real>0.4857142857142857</real>
        <key>anchorY</key>
        <real>0.5054054054054054</real>
        <key>start</key>
        <integer>39</integer>
        <key>end</key>
        <integer>39</integer>
      </dict>
      <key>shopbg</key>
      <dict>
        <key>type</key>
        <string>shopbg</string>
        <key>anchorX</key>
        <real>0.05437499999999999</real>
        <key>anchorY</key>
        <real>0.8860416666666667</real>
        <key>start</key>
        <integer>40</integer>
        <key>end</key>
        <integer>40</integer>
      </dict>
      <key>shopbg01</key>
      <dict>
        <key>type</key>
        <string>shopbg01</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>1.2222084367245658</real>
        <key>start</key>
        <integer>41</integer>
        <key>end</key>
        <integer>41</integer>
      </dict>
      <key>text135</key>
      <dict>
        <key>type</key>
        <string>text135</string>
        <key>anchorX</key>
        <real>-0.01282051282051282</real>
        <key>anchorY</key>
        <real>1.275</real>
        <key>start</key>
        <integer>42</integer>
        <key>end</key>
        <integer>42</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>gameshop</key>
      <dict>
        <key>type</key>
        <string>gameshop</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,960.00</string>
        <key>anchorX</key>
        <real>0.000703125</real>
        <key>anchorY</key>
        <real>-0.0013020833333333333</real>
        <key>children</key>
        <dict>
          <key>btnDouble</key>
          <dict>
            <key>class</key>
            <string>Timebtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>444.75,520.30,0.00,1,1,1.00</string>
          </dict>
          <key>btnPotion</key>
          <dict>
            <key>class</key>
            <string>Potionbtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>444.70,324.05,0.00,1,1,1.00</string>
          </dict>
          <key>instance6959</key>
          <dict>
            <key>class</key>
            <string>glodicon</string>
            <key>zIndex</key>
            <integer>19</integer>
            <key>frames</key>
            <string>137.85,424.15,0.00,0.7615966796875,0.7615966796875,1.00</string>
          </dict>
          <key>btnXGrid</key>
          <dict>
            <key>class</key>
            <string>stepbtn</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>195.70,325.15,0.00,1,1,1.00</string>
          </dict>
          <key>txtPotion</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>478.00,388.40,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
          <key>btnbomb</key>
          <dict>
            <key>class</key>
            <string>bombbtn</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>195.70,520.35,0.00,1,1,1.00</string>
          </dict>
          <key>txttimeprice</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>22</integer>
            <key>frames</key>
            <string>419.75,443.75,0.00,1,1,1.00</string>
            <key>text</key>
            <string>200</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>109</real>
            <key>height</key>
            <real>86</real>
          </dict>
          <key>btnplaygame</key>
          <dict>
            <key>class</key>
            <string>playgamebtn</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>242.75,167.35,0.00,1,1,1.00</string>
          </dict>
          <key>txtstepprice</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>23</integer>
            <key>frames</key>
            <string>165.75,244.80,0.00,1,1,1.00</string>
            <key>text</key>
            <string>200</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>118</real>
            <key>height</key>
            <real>86</real>
          </dict>
          <key>instance6944</key>
          <dict>
            <key>class</key>
            <string>shape 401</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>498.35,370.25,0.00,1,1,1.00</string>
          </dict>
          <key>instance6946</key>
          <dict>
            <key>class</key>
            <string>iconbg</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>232.35,351.95,0.00,1,1,1.00</string>
          </dict>
          <key>instance6953</key>
          <dict>
            <key>class</key>
            <string>glodicon</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>137.85,222.70,0.00,0.7615966796875,0.7615966796875,1.00</string>
          </dict>
          <key>instance6956</key>
          <dict>
            <key>class</key>
            <string>glodicon</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>391.60,222.70,0.00,0.7615966796875,0.7615966796875,1.00</string>
          </dict>
          <key>instance6874</key>
          <dict>
            <key>class</key>
            <string>shopbg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>34.80,850.60,0.00,1,1,1.00</string>
          </dict>
          <key>txtbombprice</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>20</integer>
            <key>frames</key>
            <string>165.75,442.90,0.00,1,1,1.00</string>
            <key>text</key>
            <string>200</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>93</real>
            <key>height</key>
            <real>86</real>
          </dict>
          <key>txtTime</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>478.00,587.60,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
          <key>getGlod</key>
          <dict>
            <key>class</key>
            <string>asdf2421312313ffq</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>146.95,673.55,0.00,1,1,1.00</string>
          </dict>
          <key>txtgold</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>25</integer>
            <key>frames</key>
            <string>430.30,644.55,0.00,1,1,1.00</string>
            <key>text</key>
            <string>200</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>93</real>
            <key>height</key>
            <real>51</real>
          </dict>
          <key>txtPotionprice</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>24</integer>
            <key>frames</key>
            <string>419.75,244.80,0.00,1,1,1.00</string>
            <key>text</key>
            <string>200</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>114</real>
            <key>height</key>
            <real>86</real>
          </dict>
          <key>instance6950</key>
          <dict>
            <key>class</key>
            <string>glodicon</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>391.60,421.80,0.00,0.7615966796875,0.7615966796875,1.00</string>
          </dict>
          <key>instance6962</key>
          <dict>
            <key>class</key>
            <string>glodicon</string>
            <key>zIndex</key>
            <integer>21</integer>
            <key>frames</key>
            <string>405.15,622.60,0.00,0.7615966796875,0.7615966796875,1.00</string>
          </dict>
          <key>instance6948</key>
          <dict>
            <key>class</key>
            <string>shape 401</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>249.35,569.25,0.00,1,1,1.00</string>
          </dict>
          <key>txtbomb</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>18</integer>
            <key>frames</key>
            <string>228.55,587.60,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
          <key>instance6942</key>
          <dict>
            <key>class</key>
            <string>shape 401</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>498.35,569.25,0.00,1,1,1.00</string>
          </dict>
          <key>txtstep</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>26</integer>
            <key>frames</key>
            <string>228.55,388.40,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
        </dict>
      </dict>
      <key>gameshop1</key>
      <dict>
        <key>type</key>
        <string>gameshop1</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,942.05,960.00</string>
        <key>anchorX</key>
        <real>0.0004776816517170001</real>
        <key>anchorY</key>
        <real>-0.0013020833333333333</real>
        <key>children</key>
        <dict>
          <key>instance7111</key>
          <dict>
            <key>class</key>
            <string>asdfaserf2q34r123asf132123</string>
            <key>zIndex</key>
            <integer>14</integer>
            <key>frames</key>
            <string>98.85,609.25,0.00,1,1,1.00</string>
          </dict>
          <key>txtgold</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>17</integer>
            <key>frames</key>
            <string>424.30,669.60,0.00,1,1,1.00</string>
            <key>text</key>
            <string>200</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>93</real>
            <key>height</key>
            <real>51</real>
          </dict>
          <key>instance6989</key>
          <dict>
            <key>class</key>
            <string>shopbg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>34.80,850.60,0.00,1,1,1.00</string>
          </dict>
          <key>btnplaygame</key>
          <dict>
            <key>class</key>
            <string>playgamebtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>242.75,167.35,0.00,1,1,1.00</string>
          </dict>
          <key>txtPotionprice</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>385.30,375.95,0.00,1,1,1.00</string>
            <key>text</key>
            <string>10000</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Rockwell Bold</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>134</real>
            <key>height</key>
            <real>61</real>
          </dict>
          <key>instance7109</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>145.90,265.10,0.00,1,1,1.00</string>
            <key>text</key>
            <string>$10.00</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Rockwell Bold</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>138</real>
            <key>height</key>
            <real>63</real>
          </dict>
          <key>instance7135</key>
          <dict>
            <key>class</key>
            <string>asdfaw3r4214123aaa313111</string>
            <key>zIndex</key>
            <integer>15</integer>
            <key>frames</key>
            <string>419.00,531.15,0.00,1,1,1.00</string>
          </dict>
          <key>instance7110</key>
          <dict>
            <key>class</key>
            <string>null</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>353.50,263.60,0.00,1,1,1.00</string>
            <key>text</key>
            <string>$10.00</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Rockwell Bold</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>138</real>
            <key>height</key>
            <real>63</real>
          </dict>
          <key>txtstepprice</key>
          <dict>
            <key>class</key>
            <string>ShopFont</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>181.65,375.90,0.00,1,1,1.00</string>
            <key>text</key>
            <string>5000</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Rockwell Bold</string>
            <key>size</key>
            <integer>40</integer>
            <key>color</key>
            <string>#ffffff</string>
            <key>align</key>
            <string>left</string>
            <key>width</key>
            <real>105</real>
            <key>height</key>
            <real>61</real>
          </dict>
          <key>instance6997</key>
          <dict>
            <key>class</key>
            <string>shopbg01</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>540.95,719.80,0.00,1,1,1.00</string>
          </dict>
          <key>instance7074</key>
          <dict>
            <key>class</key>
            <string>asdf2421312313ffq</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>146.95,693.55,0.00,1,1,1.00</string>
          </dict>
          <key>instance7169</key>
          <dict>
            <key>class</key>
            <string>glodicon</string>
            <key>zIndex</key>
            <integer>16</integer>
            <key>frames</key>
            <string>393.10,649.65,0.00,0.7615966796875,0.7615966796875,1.00</string>
          </dict>
        </dict>
      </dict>
      <key>lefshop</key>
      <dict>
        <key>type</key>
        <string>lefshop</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,366.40,695.75</string>
        <key>anchorX</key>
        <real>-1.4984989082969427</real>
        <key>anchorY</key>
        <real>0.009558030901904387</real>
        <key>children</key>
        <dict>
          <key>btnDouble</key>
          <dict>
            <key>class</key>
            <string>Timebtn</string>
            <key>zIndex</key>
            <integer>4</integer>
            <key>frames</key>
            <string>175.90,256.50,0.00,1,1,1.00</string>
          </dict>
          <key>txtusebomb</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>7</integer>
            <key>frames</key>
            <string>198.25,633.95,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
          <key>instance7242</key>
          <dict>
            <key>class</key>
            <string>shape 401</string>
            <key>zIndex</key>
            <integer>10</integer>
            <key>frames</key>
            <string>216.40,296.35,0.00,1,1,1.00</string>
          </dict>
          <key>txtusetime</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>11</integer>
            <key>frames</key>
            <string>196.25,314.15,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
          <key>btnXGrid</key>
          <dict>
            <key>class</key>
            <string>stepbtn</string>
            <key>zIndex</key>
            <integer>5</integer>
            <key>frames</key>
            <string>176.90,413.45,0.00,1,1,1.00</string>
          </dict>
          <key>instance7244</key>
          <dict>
            <key>class</key>
            <string>shape 401</string>
            <key>zIndex</key>
            <integer>12</integer>
            <key>frames</key>
            <string>218.40,139.75,0.00,1,1,1.00</string>
          </dict>
          <key>btnUsePotion</key>
          <dict>
            <key>class</key>
            <string>Potionbtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>179.85,98.45,0.00,1,1,1.00</string>
          </dict>
          <key>btnshowshop</key>
          <dict>
            <key>class</key>
            <string>showshop</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>101.80,69.50,0.00,1,1,1.00</string>
          </dict>
          <key>instance7240</key>
          <dict>
            <key>class</key>
            <string>shape 401</string>
            <key>zIndex</key>
            <integer>8</integer>
            <key>frames</key>
            <string>218.40,458.55,0.00,1,1,1.00</string>
          </dict>
          <key>btnusebomb</key>
          <dict>
            <key>class</key>
            <string>bombbtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>178.50,574.15,0.00,1,1,1.00</string>
          </dict>
          <key>instance7238</key>
          <dict>
            <key>class</key>
            <string>shape 401</string>
            <key>zIndex</key>
            <integer>6</integer>
            <key>frames</key>
            <string>218.40,616.15,0.00,1,1,1.00</string>
          </dict>
          <key>txtusestep</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>9</integer>
            <key>frames</key>
            <string>198.25,476.35,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
          <key>txtusePotion</key>
          <dict>
            <key>class</key>
            <string>CountFont</string>
            <key>zIndex</key>
            <integer>13</integer>
            <key>frames</key>
            <string>198.25,157.55,0.00,1,1,1.00</string>
            <key>text</key>
            <string>99</string>
            <key>input</key>
            <false/>
            <key>font</key>
            <string>Arial</string>
            <key>size</key>
            <integer>20</integer>
            <key>color</key>
            <string>#ffff33</string>
            <key>align</key>
            <string>center</string>
            <key>width</key>
            <real>37</real>
            <key>height</key>
            <real>34</real>
          </dict>
          <key>instance7200</key>
          <dict>
            <key>class</key>
            <string>leftbg</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>262.30,376.00,0.00,1,1,1.00</string>
          </dict>
        </dict>
      </dict>
      <key>textprice</key>
      <dict>
        <key>type</key>
        <string>textprice</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,66.25,88.10</string>
        <key>anchorX</key>
        <real>0.01660377358490566</real>
        <key>anchorY</key>
        <real>0.4392735527809307</real>
        <key>children</key>
        <dict>
          <key>txtmc</key>
          <dict>
            <key>class</key>
            <string>text135</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>3.00,85.00,0.00,0.7615966796875,0.7615966796875,1.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>fonts</key>
    <dict>
      <key>CountFont</key>
      <dict>
        <key>start</key>
        <integer>14</integer>
        <key>end</key>
        <integer>23</integer>
        <key>size</key>
        <integer>20</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.2857142857142857</real>
        <key>anchorY</key>
        <real>1.5</real>
      </dict>
      <key>ShopFont</key>
      <dict>
        <key>start</key>
        <integer>24</integer>
        <key>end</key>
        <integer>33</integer>
        <key>size</key>
        <integer>40</integer>
        <key>chars</key>
        <string>0123456789</string>
        <key>anchorX</key>
        <real>-0.19047619047619047</real>
        <key>anchorY</key>
        <real>1.3666666666666667</real>
      </dict>
    </dict>
  </dict>
</plist>