<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>login_000000</key>
      <dict>
        <key>frame</key>
        <string>{{655,851},{188,194}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{186,192}</string>
      </dict>
      <key>login_000001</key>
      <dict>
        <key>frame</key>
        <string>{{640,585},{213,133}}</string>
        <key>offset</key>
        <string>{0.00,0.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{211,131.4}</string>
      </dict>
      <key>login_000002</key>
      <dict>
        <key>frame</key>
        <string>{{640,475},{213,110}}</string>
        <key>offset</key>
        <string>{0.00,-11.70}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{211,131.4}</string>
      </dict>
      <key>login_000003</key>
      <dict>
        <key>frame</key>
        <string>{{556,1235},{213,110}}</string>
        <key>offset</key>
        <string>{0.00,-11.70}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{211,131.4}</string>
      </dict>
      <key>login_000004</key>
      <dict>
        <key>frame</key>
        <string>{{640,365},{213,110}}</string>
        <key>offset</key>
        <string>{0.00,-11.70}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{211,131.4}</string>
      </dict>
      <key>login_000005</key>
      <dict>
        <key>frame</key>
        <string>{{640,718},{213,133}}</string>
        <key>offset</key>
        <string>{0.00,0.20}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{211,131.4}</string>
      </dict>
      <key>login_000006</key>
      <dict>
        <key>frame</key>
        <string>{{640,232},{216,133}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{214,131}</string>
      </dict>
      <key>login_000007</key>
      <dict>
        <key>frame</key>
        <string>{{339,1235},{217,116}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{215,114}</string>
      </dict>
      <key>login_000008</key>
      <dict>
        <key>frame</key>
        <string>{{0,964},{339,318}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{337,316}</string>
      </dict>
      <key>login_000009</key>
      <dict>
        <key>frame</key>
        <string>{{640,0},{286,232}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{284,230}</string>
      </dict>
      <key>login_000010</key>
      <dict>
        <key>frame</key>
        <string>{{339,964},{316,271}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{314,269}</string>
      </dict>
      <key>login_000011</key>
      <dict>
        <key>frame</key>
        <string>{{0,1282},{286,44}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{284,42}</string>
      </dict>
      <key>login_000012</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{640,964}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{638,962}</string>
      </dict>
      <key>login_000013</key>
      <dict>
        <key>frame</key>
        <string>{{655,1045},{182,188}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{180,186}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>1.48</real>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>login.png</string>
      <key>size</key>
      <string>{940,1364}</string>
      <key>textureFileName</key>
      <string>login.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>s67</key>
      <dict>
        <key>type</key>
        <string>moregamebutton1</string>
        <key>anchorX</key>
        <real>0.4911290322580645</real>
        <key>anchorY</key>
        <real>0.5153645833333333</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>eye</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.08530805687203792</real>
        <key>anchorY</key>
        <real>1</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>5</integer>
      </dict>
      <key>eye1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.39883177570093453</real>
        <key>anchorY</key>
        <real>0.6217557251908398</real>
        <key>start</key>
        <integer>6</integer>
        <key>end</key>
        <integer>6</integer>
      </dict>
      <key>eye3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.49860465116279074</real>
        <key>anchorY</key>
        <real>0.4096491228070176</real>
        <key>start</key>
        <integer>7</integer>
        <key>end</key>
        <integer>7</integer>
      </dict>
      <key>gembg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.10118694362017805</real>
        <key>anchorY</key>
        <real>0.9514240506329114</real>
        <key>start</key>
        <integer>8</integer>
        <key>end</key>
        <integer>8</integer>
      </dict>
      <key>gembg1</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5059859154929577</real>
        <key>anchorY</key>
        <real>0.02130434782608698</real>
        <key>start</key>
        <integer>9</integer>
        <key>end</key>
        <integer>9</integer>
      </dict>
      <key>gembg2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.41353503184713375</real>
        <key>anchorY</key>
        <real>0.6096654275092936</real>
        <key>start</key>
        <integer>10</integer>
        <key>end</key>
        <integer>10</integer>
      </dict>
      <key>img093</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>-0.08785211267605633</real>
        <key>anchorY</key>
        <real>-0.05476190476190469</real>
        <key>start</key>
        <integer>11</integer>
        <key>end</key>
        <integer>11</integer>
      </dict>
      <key>menubg</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0</real>
        <key>start</key>
        <integer>12</integer>
        <key>end</key>
        <integer>12</integer>
      </dict>
      <key>playbtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>anchorX</key>
        <real>0.5755555555555555</real>
        <key>anchorY</key>
        <real>0.4696236559139785</real>
        <key>start</key>
        <integer>13</integer>
        <key>end</key>
        <integer>13</integer>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>MainMenu</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,638.00,1181.50</string>
        <key>anchorX</key>
        <real>0.0035266457680250786</real>
        <key>anchorY</key>
        <real>0.18442657638595003</real>
        <key>children</key>
        <dict>
          <key>instance558</key>
          <dict>
            <key>class</key>
            <string>menubg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>0.00,219.50,0.00,1,1,1.00,0</string>
          </dict>
          <key>btnplay</key>
          <dict>
            <key>class</key>
            <string>playgamebtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>212.50,730.45,0.00,1,1,1.00,1</string>
          </dict>
          <key>instance563</key>
          <dict>
            <key>class</key>
            <string>s67</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>298.55,89.20,0.00,1,1,1.00,2</string>
          </dict>
        </dict>
      </dict>
      <key>gem</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>30</integer>
        <key>rect</key>
        <string>0,0,303.80,262.65</string>
        <key>anchorX</key>
        <real>0.04147465437788018</real>
        <key>anchorY</key>
        <real>0.9546925566343042</real>
        <key>children</key>
        <dict>
          <key>gem2</key>
          <dict>
            <key>class</key>
            <string>gembg</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>12.60,250.75,0.00,1,1,1.00,0|||||||8.40,241.10,0.00,1.029144287109375,0.961212158203125,1.00,0|4.20,231.50,0.00,1.0583038330078125,0.9224395751953125,1.00,0|0.00,221.85,0.00,1.0874481201171875,0.8836517333984375,1.00,0|6.40,235.45,0.00,1.04254150390625,0.9384002685546875,1.00,0|12.90,249.05,0.00,0.9976348876953125,0.9931640625,1.00,0|19.40,262.65,0.00,0.952728271484375,1.04791259765625,1.00,0|17.10,255.85,0.00,0.968505859375,1.020538330078125,1.00,0|14.85,249.10,0.00,0.9842529296875,0.9931640625,1.00,0|12.60,242.25,0.00,1,0.9657745361328125,1.00,0|12.60,247.90,0.00,1,0.9885711669921875,1.00,0|12.60,253.60,0.00,1,1.01141357421875,1.00,0|12.60,259.25,0.00,1,1.0342254638671875,1.00,0|12.60,256.45,0.00,1,1.0228118896484375,1.00,0|12.60,253.60,0.00,1,1.01141357421875,1.00,0|12.60,250.75,0.00,1,1,1.00,0||||||||</string>
          </dict>
          <key>eye1</key>
          <dict>
            <key>class</key>
            <string>eye</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>27.60,164.05,0.00,1,1,1.00,1|||||||27.60,158.40,0.00,1,1,1.00,1|27.60,152.70,0.00,1,1,1.00,1|27.60,147.05,0.00,1,1,1.00,1|27.60,164.05,0.00,1,1,1.00,1|27.60,181.05,0.00,1,1,1.00,1|27.60,198.05,0.00,1,1,1.00,1|27.60,185.60,0.00,1,1,1.00,1|27.60,173.10,0.00,1,1,1.00,1|27.60,160.65,0.00,1,1,1.00,1|27.60,164.60,0.00,1,1,1.00,1|27.60,168.60,0.00,1,1,1.00,1|27.60,172.55,0.00,1,1,1.00,1|27.60,169.70,0.00,1,1,1.00,1|27.60,166.90,0.00,1,1,1.00,1|27.60,164.05,0.00,1,1,1.00,1||||||||</string>
          </dict>
        </dict>
      </dict>
      <key>gem2</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>11</integer>
        <key>rect</key>
        <string>0,0,334.40,307.40</string>
        <key>anchorX</key>
        <real>0.49910287081339716</real>
        <key>anchorY</key>
        <real>0.3802862719583604</real>
        <key>children</key>
        <dict>
          <key>gemeye1</key>
          <dict>
            <key>class</key>
            <string>eye1</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>146.05,156.10,0.00,1,1,1.00,1|146.05,160.15,0.00,1,1,1.00,1|146.05,164.20,0.00,1,1,1.00,1|146.05,168.30,0.00,1,1,1.00,1|146.05,172.35,0.00,1,1,1.00,1|146.05,176.40,0.00,1,1,1.00,1|146.05,172.35,0.00,1,1,1.00,1|146.05,168.30,0.00,1,1,1.00,1|146.05,164.20,0.00,1,1,1.00,1|146.05,160.15,0.00,1,1,1.00,1|146.05,156.10,0.00,1,1,1.00,1</string>
          </dict>
          <key>gembg1</key>
          <dict>
            <key>class</key>
            <string>gembg2</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>138.85,166.30,0.00,1,0.932098388671875,1.00,0|138.85,168.30,0.00,1,0.9457550048828125,1.00,0|138.85,170.30,0.00,1,0.9594268798828125,1.00,0|138.85,172.30,0.00,1,0.97308349609375,1.00,0|138.85,174.35,0.00,1,0.98675537109375,1.00,0|138.85,176.35,0.00,1,1.0004119873046875,1.00,0|138.85,174.35,0.00,1,0.98675537109375,1.00,0|138.85,172.35,0.00,1,0.97308349609375,1.00,0|138.85,170.30,0.00,1,0.9594268798828125,1.00,0|138.85,168.30,0.00,1,0.9457550048828125,1.00,0|138.85,166.30,0.00,1,0.932098388671875,1.00,0</string>
          </dict>
        </dict>
      </dict>
      <key>gem3</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>11</integer>
        <key>rect</key>
        <string>0,0,284.05,240.15</string>
        <key>anchorX</key>
        <real>0.49920788593557475</real>
        <key>anchorY</key>
        <real>0.34374349364980217</real>
        <key>children</key>
        <dict>
          <key>gembg2</key>
          <dict>
            <key>class</key>
            <string>gembg1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>143.70,5.00,0.00,1,1,1.00,0|143.70,5.00,0.00,1,1.0089263916015625,1.00,0|143.70,5.00,0.00,1,1.017852783203125,1.00,0|143.70,5.00,0.00,1,1.02679443359375,1.00,0|143.70,5.00,0.00,1,1.0357208251953125,1.00,0|143.70,5.00,0.00,1,1.044647216796875,1.00,0|143.70,5.00,0.00,1,1.0357208251953125,1.00,0|143.70,5.05,0.00,1,1.02679443359375,1.00,0|143.70,5.05,0.00,1,1.017852783203125,1.00,0|143.70,5.00,0.00,1,1.0089263916015625,1.00,0|143.70,5.00,0.00,1,1,1.00,0</string>
          </dict>
          <key>gemeye2</key>
          <dict>
            <key>class</key>
            <string>eye3</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>141.40,79.65,0.00,1,1,1.00,1|141.40,81.85,0.00,1,1,1.00,1|141.40,84.05,0.00,1,1,1.00,1|141.40,86.25,0.00,1,1,1.00,1|141.40,88.45,0.00,1,1,1.00,1|141.40,90.65,0.00,1,1,1.00,1|141.40,88.45,0.00,1,1,1.00,1|141.40,86.25,0.00,1,1,1.00,1|141.40,84.05,0.00,1,1,1.00,1|141.40,81.85,0.00,1,1,1.00,1|141.40,79.65,0.00,1,1,1.00,1</string>
          </dict>
        </dict>
      </dict>
      <key>gemaction</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,282.75,248.05</string>
        <key>anchorX</key>
        <real>-1.3874447391688773</real>
        <key>anchorY</key>
        <real>3.9864946583350123</real>
        <key>children</key>
        <dict/>
      </dict>
      <key>playgamebtn</key>
      <dict>
        <key>type</key>
        <string>null</string>
        <key>totalFrames</key>
        <integer>11</integer>
        <key>rect</key>
        <string>0,0,209.50,194.35</string>
        <key>anchorX</key>
        <real>0.11264916467780431</real>
        <key>anchorY</key>
        <real>0.9320812966297917</real>
        <key>children</key>
        <dict>
          <key>startBtn</key>
          <dict>
            <key>class</key>
            <string>playbtn</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>123.20,85.60,0.00,1,1,1.00,0|123.20,85.60,0.00,1.037841796875,1.0204925537109375,1.00,0|123.20,85.60,0.00,1.0756683349609375,1.040985107421875,1.00,0|123.20,85.60,0.00,1.1135101318359375,1.061492919921875,1.00,0|123.20,85.60,0.00,1.151336669921875,1.0819854736328125,1.00,0|123.20,85.60,0.00,1.189178466796875,1.10247802734375,1.00,0|123.25,85.60,0.00,1.1513214111328125,1.0819854736328125,1.00,0|123.20,85.60,0.00,1.1135101318359375,1.0614776611328125,1.00,0|123.20,85.60,0.00,1.075653076171875,1.0409698486328125,1.00,0|123.20,85.60,0.00,1.0378265380859375,1.0204925537109375,1.00,0|123.20,85.60,0.00,1,1,1.00,0</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>