<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>pauseui_000000</key>
      <dict>
        <key>frame</key>
        <string>{{162,180},{75,103}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{73,101}</string>
      </dict>
      <key>pauseui_000001</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{90,92}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,90}</string>
      </dict>
      <key>pauseui_000002</key>
      <dict>
        <key>frame</key>
        <string>{{0,192},{82,83}}</string>
        <key>offset</key>
        <string>{0.60,-0.25}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{88,90}</string>
      </dict>
      <key>pauseui_000003</key>
      <dict>
        <key>frame</key>
        <string>{{88,92},{78,88}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{76,86}</string>
      </dict>
      <key>pauseui_000004</key>
      <dict>
        <key>frame</key>
        <string>{{90,0},{71,80}}</string>
        <key>offset</key>
        <string>{0.50,-0.45}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{76,86}</string>
      </dict>
      <key>pauseui_000005</key>
      <dict>
        <key>frame</key>
        <string>{{0,92},{88,100}}</string>
        <key>offset</key>
        <string>{0.00,0.00}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,98}</string>
      </dict>
      <key>pauseui_000006</key>
      <dict>
        <key>frame</key>
        <string>{{82,192},{80,90}}</string>
        <key>offset</key>
        <string>{0.55,-0.15}</string>
        <key>rotated</key>
        <false/>
        <key>sourceSize</key>
        <string>{86,98}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>flaxVersion</key>
      <real>1.45</real>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>pauseui.png</string>
      <key>size</key>
      <string>{288,302}</string>
      <key>textureFileName</key>
      <string>pauseui.png</string>
    </dict>
    <key>displays</key>
    <dict>
      <key>bg1</key>
      <dict>
        <key>type</key>
        <string>bg1</string>
        <key>anchorX</key>
        <real>0.00821917808219178</real>
        <key>anchorY</key>
        <real>0.9891089108910892</real>
        <key>start</key>
        <integer>0</integer>
        <key>end</key>
        <integer>0</integer>
      </dict>
      <key>loginbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>-0.07670454545454546</real>
        <key>anchorY</key>
        <real>0.08444444444444438</real>
        <key>start</key>
        <integer>1</integer>
        <key>end</key>
        <integer>2</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>playbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0</real>
        <key>anchorY</key>
        <real>0.006395348837209269</real>
        <key>start</key>
        <integer>3</integer>
        <key>end</key>
        <integer>4</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
      <key>repeatbtn</key>
      <dict>
        <key>type</key>
        <string>btn</string>
        <key>anchorX</key>
        <real>0.06569767441860465</real>
        <key>anchorY</key>
        <real>0.04336734693877551</real>
        <key>start</key>
        <integer>5</integer>
        <key>end</key>
        <integer>6</integer>
        <key>labels</key>
        <dict>
          <key>up</key>
          <dict>
            <key>start</key>
            <integer>0</integer>
            <key>end</key>
            <integer>0</integer>
          </dict>
          <key>down</key>
          <dict>
            <key>start</key>
            <integer>1</integer>
            <key>end</key>
            <integer>1</integer>
          </dict>
        </dict>
      </dict>
    </dict>
    <key>mcs</key>
    <dict>
      <key>PauseCover</key>
      <dict>
        <key>type</key>
        <string>PauseCover</string>
        <key>totalFrames</key>
        <integer>1</integer>
        <key>rect</key>
        <string>0,0,640.00,960.00</string>
        <key>anchorX</key>
        <real>0.000390625</real>
        <key>anchorY</key>
        <real>-0.0020833333333333333</real>
        <key>children</key>
        <dict>
          <key>repeatbtn</key>
          <dict>
            <key>class</key>
            <string>repeatbtn</string>
            <key>zIndex</key>
            <integer>3</integer>
            <key>frames</key>
            <string>449.20,532.70,0.00,1,1,1.00</string>
          </dict>
          <key>backss</key>
          <dict>
            <key>class</key>
            <string>bg1</string>
            <key>zIndex</key>
            <integer>0</integer>
            <key>frames</key>
            <string>5.25,949.55,0.00,8.76715087890625,9.5052490234375,1.00</string>
          </dict>
          <key>loginbtn</key>
          <dict>
            <key>class</key>
            <string>loginbtn</string>
            <key>zIndex</key>
            <integer>1</integer>
            <key>frames</key>
            <string>122.40,535.30,0.00,1,1,1.00</string>
          </dict>
          <key>playbtn</key>
          <dict>
            <key>class</key>
            <string>playbtn</string>
            <key>zIndex</key>
            <integer>2</integer>
            <key>frames</key>
            <string>297.90,526.30,0.00,1,1,1.00</string>
          </dict>
        </dict>
      </dict>
    </dict>
  </dict>
</plist>